@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,200;0,400;1,200&display=swap');
/* Importando fonte Montserrat do Google Fonts */

body {
    font-family: 'Montserrat', sans-serif;
    /* Aplicando fonte Montserrat do Google Fonts */
}

header {
    background: #BBBBBB;
    padding: 20px 0;
    /*margem em cima e embaixo no cabeçalho*/
}

.centralizaCabecalho {
    /*relativa à posição do cabeçalho*/
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    /*absoluta, mas está dentro da relativa, então respeita os limites*/
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    /*funciona como as linhas, o elemento ocupa só seu próprio espaço*/
    margin: 0 0 0 15px;
    /*colocando margem somente à esquerda*/
}

nav a {
    text-transform: uppercase;
    /*coloca em letra maíuscula*/
    color: #000000;
    font-weight: bold;
    /*coloca em negrito*/
    font-size: 22px;
    text-decoration: none;
    /*retira o sublinhado da palavra*/
}

nav a:hover {
    /*os links dentro de nav mudarão com ao passar o mouse*/
    color: #C78C19;
    text-decoration: underline;
    /*aparece o sublinhado*/
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    /*orienta os elementos pela linha debaixo, coloca um ao lado do outro*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*orienta os elementos pela linha de cima*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    /*color width style*/
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    /*as listas dentro de produtos mudarão com ao clique do mouse*/
    border-color: #088c19;
}

.produtos li:hover h2 {
    /*o título mudará ao passar o mouse pelo li*/
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto_descricao {
    font-size: 18px;
}

.produto_preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    /*colocando uma imagem de fundo no rodapé (img se copia várias vezes)*/
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

form {
    margin: 40px;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.botao-enviar {
    width: 40%;
    /*botão ocupa 40% da página*/
    padding: 15px 0;
    background: orange;
    color: white;
    /*cor da letra*/
    font-weight: bold;
    /*negrito*/
    font-size: 18px;
    border: none;
    /* nenhuma borda*/
    border-radius: 5px;
    /*transition: 1s background; muda a cor do botão com transição 1 segundo*/
    transition: 1s all;
    cursor: pointer;
    /*mouse troca de seta para mãozinha*/
}

.botao-enviar:hover {
    background: darkorange;
    /*ao passar o mouse pelo botão, muda de cor*/
    transform: scale(1.2);
    /*rotate: (rotate(70deg) rotaciona o item em 70 graus*/
    /*scale: ao passar o mouse pelo botão, muda o que há na transition numa escala de 20%*/
    /*Estão um ao lado do outro porque ambos são transoformers. Em linhas diferentes, o primeiro seria ignorado*/
}

table {
    margin: 20px 0 40px 40px;
}

thead {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Estilização do index*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    /*O "em" é proporção. Nesse caso, a fonte será 2x maior que a padrão*/
    margin: 0 0 1em;
    /* ordem: cima, direita, abaixo, esquerda. 
    "1em" nos diz que a margem será proporcional 1x ao tamanho da fonte (if fonte=20px {margin=20px} */
    clear: left;
    /* Limpa o float para que não seja afetado por ele. Nosso float era a esquerda*/

    /* text-shadow: 2px 2px red;
    Demonstrativo que se pode adicionar sombra em textos também. */
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em 0;
    /*margin bottom 1x o tamanho do parágrafo*/
}

.principal strong {
    font-weight: bold;
    /*negrito*/
}

.principal em {
    font-style: italic;
    /*itálico*/
}

.imagem-utensilios {
    width: 120px;
    float: left;
    /*flutua o objeto, assim é possível alinhar elementos junto a ele*/
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    /*espaçamento de 3x o tamanho da fonte do título para cima e para baixo*/
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em 0;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    /*espaçamento de 3x o tamanho da fonte do título para cima e para baixo, como no .mapa*/
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
    /* Espaçamento da linha tem o tamanho da fonte por padrão (1). Para aumentar, colocamos mais 50% */
}

.itens:first-child {
    /*pseudo-class: seleciona o primeiro item de uma class, para não ter de criar outra/alterar o HTML. 'last-child' para o último item e 'nth-child(X)' para outros*/
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1; /*imagem sem opacidade*/
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
    /*SOMBRA:
    - Defina a largura do eixo X, depois do eixo Y;
    - A transição para o transparente e até onde a sombra projetada irá (nesse caso 0, mas experimente 20px para entender);
    - A cor da sombra.*/
}

.imagem-beneficios:hover {
    opacity: 0.7; /*imagem com opacidade de 30% ao passar o mouse*/
}

.video {
    width: 560px;
    margin: 2em auto;
}

main > p { /*Seleciona os filhos diretos da main*/
    background: red;
}

/*Perguntando ao navegador o tamanho da tela para entregar um estilo diferente.*/
@media screen and (max-width: 480px) { /*se o tamanho máximo da tela for 480px, faça...*/
    .centralizaCabecalho, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }

    .botao-enviar {
        width: 55%;
    }

    .produtos li {
        display: block;
        margin: 0 5% 5% 5%;
    }
}

/* Fim da estilização do index*/