header {
    background: #BBBBBB;
    padding: 20px 0; /*margem em cima e embaixo no cabeçalho*/
}

.centralizaCabecalho { /*relativa à posição do cabeçalho*/
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /*absoluta, mas está dentro da relativa, então respeita os limites*/
    top: 110px;
    right: 0;
}

nav li {
    display: inline; /*funciona como as linhas, o elemento ocupa só seu próprio espaço*/
    margin: 0 0 0 15px; /*colocando margem somente à esquerda*/
}

nav a {
    text-transform: uppercase; /*coloca em letra maíuscula*/
    color: #000000;
    font-weight: bold; /*coloca em negrito*/
    font-size: 22px;
    text-decoration: none; /*retira o sublinhado da palavra*/
}

nav a:hover { /*os links dentro de nav mudarão com ao passar o mouse*/
    color: #C78C19;
    text-decoration: underline; /*aparece o sublinhado*/
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block; /*orienta os elementos pela linha debaixo, coloca um ao lado do outro*/
    text-align: center;
    width: 30%;
    vertical-align: top; /*orienta os elementos pela linha de cima*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000; /*color width style*/
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {  /*as listas dentro de produtos mudarão com ao clique do mouse*/
    border-color: #088c19;
}

.produtos li:hover h2 { /*o título mudará ao passar o mouse pelo li*/
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto_descricao {
    font-size: 18px;
}

.produto_preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg"); /*colocando uma imagem de fundo no rodapé (img se copia várias vezes)*/
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.botao-enviar {
    width: 40%; /*botão ocupa 40% da página*/
    padding: 15px 0;
    background: orange;
    color: white; /*cor da letra*/
    font-weight: bold; /*negrito*/
    font-size: 18px;
    border: none; /* nenhuma borda*/
    border-radius: 5px;
    /*transition: 1s background; muda a cor do botão com transição 1 segundo*/
    transition: 1s all;
    cursor: pointer; /*mouse troca de seta para mãozinha*/
}

.botao-enviar:hover {
    background: darkorange; /*ao passar o mouse pelo botão, muda de cor*/
    transform: scale(1.2);
    /*rotate: (rotate(70deg) rotaciona o item em 70 graus*/
    /*scale: ao passar o mouse pelo botão, muda o que há na transition numa escala de 20%*/
    /*Estão um ao lado do outro porque ambos são transoformers. Em linhas diferentes, o primeiro seria ignorado*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}